<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cloud.hilang.cs_member.mapper.CouponMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cloud.hilang.cs_member.entity.Coupon">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="coupon_type" property="couponType" />
        <result column="discount_amount" property="discountAmount" />
        <result column="discount_percent" property="discountPercent" />
        <result column="min_amount" property="minAmount" />
        <result column="max_discount_amount" property="maxDiscountAmount" />
        <result column="required_points" property="requiredPoints" />
        <result column="total_quantity" property="totalQuantity" />
        <result column="issued_quantity" property="issuedQuantity" />
        <result column="used_quantity" property="usedQuantity" />
        <result column="valid_start_time" property="validStartTime" />
        <result column="valid_end_time" property="validEndTime" />
        <result column="status" property="status" />
        <result column="store_id" property="storeId" />
        <result column="member_level" property="memberLevel" />
        <result column="creator_id" property="creatorId" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 查询优惠券列表 -->
    <select id="selectCouponList" resultMap="BaseResultMap">
        SELECT *
        FROM coupon
        <where>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="couponType != null">
                AND coupon_type = #{couponType}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="validStartTime != null">
                AND valid_start_time &gt;= #{validStartTime}
            </if>
            <if test="validEndTime != null">
                AND valid_end_time &lt;= #{validEndTime}
            </if>
        </where>
        ORDER BY created_time DESC
    </select>

</mapper>
